{% extends 'index/index.html' %}

{% block title %}ACERCA DE MI{% endblock title %}
{% block content %}
<p>
    Hola y bienvenido a mi primera pagina hecha con Django, programando con Python
</p>
<p> 
    Mi nombre es Julian Monteiro Guerra, y he cursado a lo largo de 3 meses en CoderHouse el curso de Python con la posibilidad
    de seguir adentrándome en el mundo de la programación para base de datos.
</p>
<p>
    En este proyecto, he creado una página tipo "BLOG", en donde se pueden mostrar, agregar y eliminar productos de hardware para PC. La interaccion de agregar y eliminar, puede realizarse siempre y cuando estés logeado, de lo contrario no
    te dejaría hacer ningún cambio en la página.
</p>
<p>
    Dicho esto, espero que se entienda el funcionamiento de la misma, y que guste la interacción de la página.
</p>

{% endblock content %}
